/* Reinicio de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el cuerpo */
body {
    font-family: 'Raleway';
    color: white;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    height: 45px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    width: 100%;
}

/* Contenedor de la derecha */
.navbar-right {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    gap: 30px; /* Ajusta el espacio entre los elementos */
}

/* Estilo para los enlaces en la barra de navegación */
.navbar-right a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

/* Logo a la derecha */
.navbar-right img {
    height: 40px; /* Ajusta la altura según sea necesario */
}

/* Estilo para el contenido principal */
.main-content {
    background-image: url('Fondopg.png'); /* Mantiene la imagen de fondo */
    background-size: cover; /* Cubre todo el área, incluso si se recorta */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    min-height: 100vh; /* Asegura que la sección tenga al menos la altura de la ventana */
    padding: 20px; /* Ajusta el relleno si es necesario */
    width: 100%; /* Asegura que la sección ocupe el 100% del ancho */
    margin: 0; /* Elimina márgenes adicionales */
}

.main-content h1 {
    font-size: 45px; /* Ajusta el tamaño según lo que necesites */
    font-weight: 900; /* Estilo Black */
    margin-top: 200px;
    text-align: left; /* Alineación a la izquierda */
}

.main-content h2 {
    font-size: 20px; /* Ajusta el tamaño del subtítulo aquí */
    font-weight: 500; /* Estilo Medium */
    margin-top: 40px;
    text-align: left; /* Alineación a la izquierda */
}
 
/* Botón de explorar */
/*.main-content img.boton-explorar {
    margin-top: 40px;
    cursor: pointer;
    width: 150px; 
    height: auto; }*/

section {
    padding: 40px;
    /* margin: 20px 0; Ajusta el margen para que las secciones no estén tan separadas */
    background-color: #141611;
    color: white;
}

section h2 {
    font-size: 24px; /* Tamaño del encabezado de la sección */
}

section p {
    font-size: 16px; /* Tamaño del texto de la sección */
}

h3 {
    font-size: 36px; /* Cambia este valor según el tamaño que desees */
    margin-top: 20px; /* Puedes ajustar el margen superior si es necesario */
    color: white; /* Mantén el color del texto en blanco para que contraste con el fondo */
    text-align: center; /* Centra el texto */
}

/* Sección Experimentos */
.experiments-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.experiment-item {
    flex: 0 0 30%; /* Ajusta el ancho de cada columna */
    background-color: transparent; /* Hacer que el fondo sea transparente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    padding: 10px;
    margin-bottom: 20px;
    text-align: center; /* Centrar el texto */
}

.experiment-item img {
    max-width: 70%; /* Ajusta el tamaño máximo de la imagen a un 70% del contenedor */
    height: auto; /* Mantén la proporción de la imagen */
    width: 200px; /* Establece un ancho fijo para ambas imágenes */
    object-fit: contain; /* Asegura que la imagen no se distorsione */
    margin-bottom: 10px; /* Añade un pequeño espacio debajo de la imagen */
    background-color: transparent; /* Asegúrate de que no haya fondo */
}

.experiment-item h4 {
    font-size: 18px;
    color: white; /* Cambia el color de la letra a blanco */
    margin-bottom: 15px; /* Añade un margen inferior para separarlo de la descripción */
}

.experiment-item p {
    font-size: 14px;
    color: white; /* Cambia el color de la descripción a blanco */
    text-align: justify; /* Justifica el texto */
}

/* Sección de Features */
.features-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.feature-item {
    flex: 0 0 30%;
    background-color: #1a1a1a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.feature-item h4 {
    font-size: 18px;
    color: #ffffff;
}

.feature-item p {
    font-size: 14px;
    color: #cccccc;
}

/* Sección de Categorías */
.categories-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.category-item {
    flex: 0 0 30%;
    background-color: #1a1a1a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
